body {
  margin: 0;
  background-color: #b9edf7;
  font-family: Arial, sans-serif;
}


header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffa8;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 10px;
}

.nav img {
  vertical-align: middle;
}

li {
  margin: 0 5px;
}

button {
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 18px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #4b54f8;
  color: white;
  transform: scale(1.05);
}

main {
  text-align: center;
  padding: 30px;
}

.box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.left, .right {
  width: 45%;
  min-width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: skyblue;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  text-align: center;
}

.left:hover, .right:hover {
  background-color: #7fd4f5;
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
  transform: scale(1.03);
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #222;
}


.box button {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 8px 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
}


.box button:hover {
  background-color: #3b42e3;
  color: #fff;
  transform: scale(1.1);
  
}




